*{padding: 0; margin: 0; box-sizing: border-box;}

.cuadrado{
    display: inline-block;
    padding: 15px;
}

.cuadrado_shape{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: red;
    padding: 10px;

}

.cuadrado_subcontainer{
    display: flex;
}

.cuadrado_shape--rojo{
    background:red;
}

.cuadrado_shape--amarillo{
    background: yellow;
}




.cuadrado_shape--green{
    background: rgb(0, 128, 0);
}

.cuadrado_shape--blue{
    background: rgb(135, 213, 255);
}

.cuadrado_shape--indigo{
    background: rgb(37, 37, 159);
}

.cuadrado_shape--violet{
    background: rgb(116, 0, 116);
}

.cuadrado_shape--pink{
    background: rgb(255, 0, 183);
}

.cuadrado_shape--grey{
    background: rgb(28, 28, 28);
    position: relative;
}

.cuadrado_shape--rounded{
    border-radius: 30px;
}


.cuadrado_small-item{
    width: 40px;
    height: 40px;
    background-color: yellow;
}

.cuadrado_small-item--rounded{
    border-radius: 8px;
}





.cuadrado_small-item--absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


